::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: monospace;
    font-size: 12px;
    color: #cccccc;
    background-color: #262626;
    width: 400px;
}

textarea {
    position: fixed;
    opacity: 0;
    z-index: -9;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category__name {
    width: 100%;
    text-align: center;
    margin: 8px 0 4px;
}

.category__item {
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    padding: 2px 10px;
    border: 1px solid transparent;
    transition: .3s;
}

.category__item:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
}